.mat-mdc-card {
    display: flex;
    padding: 16px;

    .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        line-height: normal;
        font-weight: 600;
        color: #ffffff;
        background: lighten(#878f99, 20%);
    }

    .card-header {
        display: flex;

        header {
            h1 {
                font-size: 20px;
                font-weight: 500;
                line-height: normal;
                margin: 0;
                padding: 0 0 0 16px;
            }

            h2 {
                font-size: 14px;
                font-weight: 500;
                line-height: normal;
                color: rgba(0, 0, 0, 0.54);
                margin: 0;
                padding: 0 0 0 16px;
            }
        }

        .actions {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
        }
    }

    .card-content {
        margin: 0 0 0 65px;

        .mat-mdc-form-field {
            display: flex;
        }

        .cancel {
            margin: 4px 0 0 0;
            
            a {
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}