.mat-toolbar {
    display: flex;

    .controls {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        .mat-mdc-menu-trigger {
            .mat-icon {
                font-size: 24px;
                width: 24px;
                height: 24px;
            }

            span {
                font-size: 14px;
            }
        }
    }
}