.token-vis {
    .MuiPaper-root {
        &.MuiCard-root {
            margin: 16px 0;

        &:first-of-type {
            margin: 0 0 16px 0;
        }

        &:last-of-type {
            margin: 16px 0 0 0;
        }

        .MuiCardContent-root {
            .MuiTypography-root {
                &.MuiTypography-body2 {
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    hyphens: auto;
                }
            }
        }
        }
    }
}