.post-list {
    display: flex;
    flex-direction: column;

    .post {
        margin: 0 0 16px 0;
    }

    .load-more {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        button {
            width: 300px;
            margin: 0 0 16px 0;
        }

        span {
            line-height: 1;
        }
    }

    .new-post {
        margin: 16px 0 0 0;
    }

    &:last-of-type {
        margin: 0;
    }
}