<div class="token-vis">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Auth Token</mat-card-title>
            <mat-card-subtitle>Base64 Encoded</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span>{{ token$ | async }}</span>
        </mat-card-content>
    </mat-card>
    
    <mat-card>
        <mat-card-header>
            <mat-card-title>Parsed Auth Token</mat-card-title>
            <mat-card-subtitle>JavaScript Object</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <pre>{{ parsedToken | json }}</pre>
        </mat-card-content>
    </mat-card>
</div>
