<mat-card *ngIf="authUser$ | async as user" appearance="outlined">
    <div class="avatar">{{ getInitials(user) }}</div>
    <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <textarea 
            matInput
            #textareaEl
            cdkTextareaAutosize
            [formControl]="newPostValue" 
            placeholder="Write a post..."
            (keydown.enter)="createPost(user.username, textareaEl)"
            rows="2">
        </textarea>
        <button 
            mat-icon-button 
            matSuffix 
            [disabled]="!newPostValue.valid"
            aria-label="Submit post"
            (click)="createPost(user.username, textareaEl)" 
            color="primary">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</mat-card>
