.new-comment {
    display: flex;
    padding: 16px;
    margin: 0;

    .card-header {
        display: flex;

        .MuiAvatar-root {
            width: 50px;
            height: 50px;
        }

        .card-header-inner {
            header {
                margin: initial;
                
                h1 {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;
                    padding: 0 0 0 16px;
                }
            }

            .MuiFormControl-root {
                margin: 2px 0 0 16px;
    
                .MuiInputBase-root {
                    .MuiSelect-select {
                        padding: 0 32px 0 14px;
                    }
                }
            }
        }

        .actions {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    .card-content {
        display: flex;
        margin: 10px 0 0 65px;
    }
}